@use "theming/palette";

.about {
  display: flex;
  height: 1000px;
  flex-direction: row;

  .left {
    background: url("../../assets/photos/about-photo.jpg");
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }
  .right {
    background-color: palette.get(dark);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: palette.get(light);
    padding: 2rem;
  }
}
